@import "/styles/_colorsVariables"

.header
    width: 100vw
    height: 60px
    background: white
    position: fixed
    z-index: 12
    border-bottom: 1px solid #E2E8EC
    .container
        width: 85%
        max-width: 1600px
        margin: auto
        display: flex
        justify-content: space-between
        .logo__container
            height: 60px
            width: 130px
            position: relative
            padding: 15px 0
            display: flex
            justify-content: flex-start
            transition: .35s
            flex-grow: 2
            .logo
                height: 30px
                width: 100px
                position: relative
        nav
            display: flex
            align-items: center
            justify-content: space-between
            flex-grow: 1
            .menu
                .burger
                    display: none
                ul
                    display: flex
                    align-items: center
                    li
                        margin: 1rem
                .search__container
                    button.toggle__search
                        cursor: pointer
                        line-height: 60px
                        font-size: 1.2rem
                        color: $primary
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 1rem
                    .search
                        opacity: 0
                        visibility: hidden
                        position: absolute
                        left: 50%
                        top: 70px
                        z-index: 15
                        transform: translateX(-50%)
                        transition: .35s
                        width: 1000px
                        max-width: 80%
                        height: 45px
                        overflow: hidden
                        border-radius: 5px
                        &.open
                            opacity: 1
                            visibility: visible
                        form
                            width: 100%
                            height: 100%
                            display: flex
                            input
                                width: calc( 100% - 100px )
                                height: 100%
                                display: flex
                                background: #E2E8EC
                                padding: .7rem
                                color: black
                                border: none
                                transition: .3s
                                &:focus
                                    background: none !important
                                    border-bottom: 1px solid lightgray !important
                                    padding: 0
                                    color: #E2E8EC
                                    &::placeholder
                                        color: #E2E8EC
                            .btn
                                height: 100%
                                max-width: 100px
                                min-width: 100px
                                padding: 0
                                cursor: pointer
            .auth__links
                display: flex
                align-items: center
                li
                    margin-left: 1rem

@media screen and ( max-width: 1080px )
    .header
        .container
            .logo__container
            nav
                flex-grow: 0.5
                .menu
                    ul
                        li
                            margin: .7rem
                .auth__links
                    li
                        margin-left: .7rem

@media screen and ( max-width: 840px )
    .header
        .container
            width: 90%

@media screen and ( max-width: 768px )
    .header
        width: 100vw
        height: 60px
        background: white
        position: fixed
        z-index: 12
        border-bottom: 1px solid #E2E8EC
        .container
            .logo__container
                flex-grow: 1
            nav
                display: flex
                align-items: center
                justify-content: flex-end
                flex-grow: 1
                .menu
                    .burger
                        border-radius: 5px
                        display: flex
                        justify-content: center
                        align-items: center
                        background: #E2E8EC
                        height: 40px
                        width: 40px
                        button.toggle__button
                            height: 100%
                            width: 100%
                            padding: 5px
                            cursor: pointer
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: flex-start
                            position: relative
                            &.close
                                span
                                    &.middle
                                        opacity: 0
                                    &.before
                                        width: 34.5px
                                        transform: rotateZ(45deg)
                                        transform-origin: 6.5px 0px 0px
                                    &.after
                                        width: 34.5px
                                        transform: rotateZ(-45deg)
                                        transform-origin: 0px 0px 6.5px
                            span
                                position: relative
                                height: 2px
                                width: 30px
                                background: $primary
                                transition: .25s
                                &.middle
                                    margin: 7px 0
                                &.before, &.after
                                    transition: .25s
                                    width: 25px
                    ul
                        position: absolute
                        display: none
                // .search__container
                //     position: absolute
                //     top: 0
                //     right: calc( 5% + 40px + 2rem )
                .auth__links
                    display: flex
                    align-items: center
                    display: none
                    li
                        margin-left: .7rem
