@import "/styles/_colorsVariables"

.header
    width: 100%
    height: 60px
    background: white
    position: fixed
    z-index: 12
    border-bottom: 1px solid #E2E8EC
.logo
    font-weight: 800
    font-size: 1.5rem
    z-index: 0
    position: relative
    color: $text-color
    padding-left: 3.7rem

    a
        color: $secondary
        text-decoration: none

        span
            color: $primary

.main_nav
    padding: 20px 40px 25px 40px

    .logo
        float: left

    .navbar_menu
        margin: 0 auto
        list-style: none

        ul
            li
                display: inline-block
                line-style-type: none
                float: left

                a
                    color: $text-color
                    text-decoration: none
                    padding: 20px
                    position: relative
                    font-size: 18px
                    font-weight: 500

                a:hover
                    color: $secondary
