@import "../../styles/_colorsVariables"

.footer
    background: black
    display: flex
    justify-content: center
    height: 100%
    .logo
        margin-bottom: 1.5rem
    p
        font-size: .9rem
        line-height: 1.6rem
        color: lightgray
        margin-bottom: 1rem

    a
        color: gray
        font-size: .9rem

    h3
        color: lightgray
        font-weight: 400
        margin-bottom: 1.5rem

    &__left
        width: 40%
        display: flex
        justify-content: flex-end
        background: rgba(255, 255, 255, .05)
        padding-left: 7.5%
        &__container
            max-width: 640px
            width: 100%
            padding: 3.5rem 2rem 3rem 0
            form
                max-width: 450px
                margin-bottom: 1.5rem
                .inputs
                    display: flex
                    justify-content: space-between
                    div
                        width: 48%
                        label
                            font-size: .9rem
                            color: gray
                        input
                            background: none !important
                            border-bottom-color: gray
                            padding-left: 0
                            color: $bg
    &__right
        width: 60%
        display: flex
        justify-content: flex-start
        padding-right: 7.5%
        &__container
            max-width: 960px
            width: 100%
            padding: 3.5rem 0 3rem 2rem
            display: flex
            justify-content: space-between
            .mobile
                display: none
            ul
                li
                    margin: 1.4rem 0

@media screen and ( max-width: 992px )
    .footer
        &__left
            &__container
                form
                    .inputs
                        flex-wrap: wrap
                        div
                            width: 100%

@media screen and ( max-width: 840px  )
    .footer
        &__left
            padding-left: 5%
        &__right
            padding-right: 5%

@media screen and ( max-width: 767px  )
    .footer
        flex-wrap: wrap
        &__left
            width: 100%
            padding: 0 5%
            &__container
                max-width: 100%
                padding: 4rem 0 3rem
                form
                    max-width: 100%
                .footer_copyright
                    display: none
        &__right
            width: 100%
            padding: 0 5%
            &__container
                max-width: 100%
                flex-wrap: wrap
                padding: 4rem 0 5rem
                .mobile
                    display: block
                    position: absolute
                    bottom: 0
                    left: 5%

@media screen and ( max-width: 480px  )
    .footer
        &__left
            width: 100%
            padding: 0 5%
            &__container
                max-width: 100%
                padding: 4rem 0 3rem
                form
                    max-width: 100%
                .footer_copyright
                    display: none
        &__right
            width: 100%
            padding: 0 5%
            &__container
                max-width: 100%
                flex-wrap: wrap
                justify-content: center
                padding: 4rem 0 5rem
                article.social
                    width: 100%
                    order: 1
                article.footer__links
                    width: 50%
                    order: 2
                .mobile
                    display: block
                    position: absolute
                    bottom: 0
                    left: 5%
