@import "/styles/_colorsVariables"

//layout for larger screens
@media screen and ( min-width: 590px )
  .footer_container
    // padding-top: 2rem
    height: auto
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 1fr
    gap: 0px 0px
    grid-template-areas: "footer_left footer_left footer_right  footer_right" 
  
  .footer_left 
    grid-area: footer_left
    padding-top: 2rem
    // margin-left: 20%
    // margin-right: 5%
    // color: $bg

  .footer_right
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 1fr
    gap: 0px 0px
    grid-template-areas: "f_browse f_jobs f_connect"
    grid-area: footer_right
    background-image: linear-gradient( #2f6b9b, #4f8bb3)
    padding-top: 6rem

  .f_browse, .f_jobs, .f_connect
    grid-area: f_browse, f_jobs, f_connect
    h3
      margin-bottom: 1rem
    li
      padding-top: 1rem

  .footer_left
    background-image: linear-gradient($primary, $primary, $primary, #5ba2ff)

  .footer_copyright
    padding-bottom: 2rem

  .f_browse
    padding-left: 5rem

  .f_jobs
    padding-left: 2rem

//default layout and other styles
.hidden
  display: none

.footer_container
  background-image: linear-gradient($primary, $primary, #5ba2ff)

.footer_left 
  grid-area: footer_left
  padding-left: 20%
  padding-right: 20%
  color: $bg
  // h1
  //   margin-top: 1rem

.f_browse, .f_jobs, .f_connect
  margin-top: 1.5rem
  h3
    color: $bg
  li
    list-style-type: none
    margin-top: 0.2rem
    a
      color: $bg
    a:hover
      text-decoration: none
      color: $secondary

.logo
  font-weight: 800
  font-size: 1.5rem
  position: relative
  padding-bottom: 2rem
  color: $text-color
  a 
    color: $secondary
    text-decoration: none
    
    span
        color: $bg

.logo2
  font-weight: 800
  font-size: 1.5rem
  position: relative
  color: $text-color
  margin-top: 0.8rem
  
  a 
    color: $secondary
    text-decoration: none
        
    span
        color: $bg

.footer_links
  color: $secondary
  margin-left: 0.8rem

.footer_call_to_action
  margin-top: 1.6rem

.footer_call_to_action
  margin-bottom: 0.2rem

.footer_form
  background: #00000000
  width: 100%
  padding: 12px 20px
  margin: 8px 0
  display: inline-block
  border-top-style: hidden
  border-left-style: hidden
  border-right-style: hidden
  border-radius: 3px
  box-sizing: border-box
  border-bottom-width: 0.1rem
  border-bottom-color: $bg
  &::placeholder
    color: #c0c0c0

.footer_copyright
  margin-top: 2rem
  font-size: 0.8rem
  span
    color: $secondary

//specific for small screens only
@media screen and ( max-width: 590px )
  .footer_container
    display: flex 
    flex-flow: column
    background-image: linear-gradient( #2f6b9b, #4f8bb3)

  .f_browse, .f_jobs, .f_connect
    font-size: 0.8rem
    text-align: left
    padding-left: 6%
    h3
      margin-bottom: 1.6rem
      font-size: 1rem
    li
      padding-bottom: 0.8rem

  .f_connect
    // padding-bottom: 1rem
    h1
      display: none

  .footer_right
    order: 1
    
  .footer_left
    order: 2
    padding-left: 6%
    padding-right: 6%
    padding-bottom: 2rem
    h1
      padding-top: 2rem
      padding-bottom: 0.2rem

  .flexgrid
    display: flex
  
  .flexcol
    flex: 1

  // .footer_container div:nth-child(1)
  //   color: red
    