@import "../../styles/_colorsVariables"

.form_control
    display: flex
    flex-direction: column
    width: 100%
    margin: 1rem 0
    transition: .2s
    label
        margin-bottom: .2rem
    input
        transition: .25s ease-in
        height: 35px
        background: none
        border: none
        border-bottom: 1px solid lightgray
        font-size: 1rem
        &:focus
            outline: none !important
            border-bottom-color: $primary
        &::placeholder
            font-size: .8rem
            color: gray
