@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')

// @font-face
//     font-family: 'Lato' sans-serif
//     src: local('Lato Regular'), local('Lato-Regular'), url('/Lato-Black.ttf') format('ttf')

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

@import "./_colors"
@import "./_colorsVariables"
@import "./_variables"

input, textarea, button
    outline: none !important

h1
    font-size: clamp(1.4rem, 3vw, 2rem)

h2
    font-size: clamp(1.2rem, 3vw, 1.8rem)

.primary__header
    font-size: clamp(1.8rem, 4vw, 2.2rem)
    display: inline-block
    position: relative
    &::before
        content: ""
        position: absolute
        bottom: -7px
        height: 20px
        width: 100%
        background: linear-gradient(180deg, rgba(255, 176, 76, 0.34) 0%, #FFB04C 100%)

.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

button
    background: none
    box-shadow: none
    border: none

.btn
    padding: .7rem 3rem
    min-width: 150px
    cursor: pointer
    font-size: 1rem
    @include flexCenter
    &.span__full
        width: 100%
    &.btn-primary
        background: $secondary
        color: white
        box-shadow: 5px 4px 25px 5px rgba(0, 0, 0, 0.1)
        font-weight: 700
        transition: .2s
        &:hover
            box-shadow: none

.bg_input
    margin: 1.5rem 0 !important
    label
        color: white
        margin-bottom: .4rem !important
    input
        background: #E9F9FF !important
        padding: 0 .5rem
        color: black
        &:focus
            background: none !important
            border-bottom: 1px solid lightgray !important
            padding: 0
            color: #E2E8EC

.card
    border: 1px solid #BBBBBB
    background: white
    transition: .3s
    &:hover
        box-shadow: 4px 4px 25px 5px rgba(0, 0, 0, 0.15)
        border-color: white

.filter__criteria
    // margin-bottom: 1.5rem
    .criteria
        margin-bottom: .7rem
        display: flex
        align-items: center
        font-size: .9rem
        &__title
            margin-right: 1rem
            display: inline-block
            white-space: nowrap
        &__showcase
            display: flex
            align-items: center
            flex-wrap: wrap
            span
                display: flex
                align-items: center
                justify-content: center
                padding: .2rem .5rem
                border-radius: 8px
                margin: .3rem .5rem .3rem 0
                background: #E2E8EC
                color: $primary
                .close
                    margin: 0
                    cursor: pointer
                    padding: .2rem
                    .icon
                        color: red

.stars
    $percent: calc(var(--rating) / 5 * 100%)
    display: inline-block
    font-size: .9rem
    font-family: Times // make sure ★ appears correctly
    line-height: 1
    color: $primary
    margin-bottom: .7rem
    &::before
        content: '★★★★★'
        letter-spacing: 3px
        background: linear-gradient(90deg, $secondary calc( var(--rating) / 5 * 100% ), white calc( var(--rating) / 5 * 100% ))
        -webkit-background-clip: text
        -webkit-text-stroke-width: 1px
        -webkit-text-stroke-color: $secondary
        -webkit-text-fill-color: transparent
    &.bg__stars
        margin-bottom: 0
        transform: scale(1.2)
        &::before
            background: linear-gradient(90deg, $secondary calc( var(--rating) / 5 * 100% ), transparent calc( var(--rating) / 5 * 100% ))
            -webkit-background-clip: text
            -webkit-text-stroke-width: 1px
            -webkit-text-stroke-color: $secondary
            -webkit-text-fill-color: transparent

.template__layout
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
    grid-auto-flow: dense
    grid-column-gap: 3rem
    margin: 3rem 0
    .main__content
        grid-column: span 2

@media screen and ( max-width: 1230px )
    .template__layout
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))
        grid-column-gap: 0
        .sub__content
            margin-top: 3rem
            &.newslatter
                display: none
            .newslatter
                display: none
