@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')

// @font-face
//     font-family: 'Lato' sans-serif
//     src: local('Lato Regular'), local('Lato-Regular'), url('/Lato-Black.ttf') format('ttf')

html, body, .layout
    min-height: 100vh
    position: relative

body
    overflow-x: hidden
    width: 100vw

.layout
    display: flex
    flex-direction: column
    justify-content: space-between

.swiper-slide
    width: auto !important
    padding: 1rem

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

@import "./_colors"
@import "./_colorsVariables"
@import "./_variables"
@import "./_alerts"

input, textarea, button
    outline: none !important

ul
    list-style: none

h1
    font-size: clamp(1.4rem, 3vw, 2rem)

h2
    font-size: clamp(1.2rem, 3vw, 1.6rem)

.primary__header
    font-size: clamp(1.4rem, 3vw, 2rem)
    display: inline-block
    position: relative
    &::before
        content: ""
        position: absolute
        bottom: -7px
        height: 20px
        width: 100%
        background: linear-gradient(180deg, rgba(255, 176, 76, 0.34) 0%, #FFB04C 100%)

.primary__text
    display: inline-block
    position: relative
    cursor: pointer
    &::before
        content: ""
        position: absolute
        bottom: 0
        height: 10px
        width: 100%
        background: linear-gradient(180deg, rgba(255, 176, 76, 0.34) 0%, #FFB04C 100%)

.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

button
    background: none
    box-shadow: none
    border: none

.btn
    padding: .5rem 2rem
    min-width: 100px
    cursor: pointer
    font-size: 1rem
    position: relative
    overflow: hidden
    @include flexCenter
    &.span__full
        width: 100%
    &.btn-secondary
        background: #E2E8EC
    &.btn-primary
        background: $secondary
        color: white
        box-shadow: 5px 4px 25px 5px rgba(0, 0, 0, 0.1)
        font-weight: 700
        transition: .2s
        &:hover
            box-shadow: none

span.ripple
    position: absolute
    border-radius: 50%
    transform: scale(0)
    animation: ripple 800ms linear
    background-color: rgba(255, 255, 255, 0.5)

@keyframes ripple
    to
        transform: scale(4)
        opacity: 0

.bg_input
    margin: 1.5rem 0 !important
    label
        color: white
        margin-bottom: .4rem !important
    input
        background: #E9F9FF !important
        padding: 0 .5rem
        color: black
        &:focus
            background: none !important
            border-bottom: 1px solid lightgray !important
            padding: 0
            color: #E2E8EC
            &::placeholder
                color: #E2E8EC

.card
    border: 1px solid #BBBBBB
    background: white
    transition: .3s
    &:hover
        box-shadow: 4px 4px 25px 5px rgba(0, 0, 0, 0.15)
        border-color: white
.badge
    padding: .3rem .7rem
    max-width: 120px
    border-radius: 5px
    display: inline-flex
    justify-content: center
    align-items: center
    font-size: .9rem
    &.unverified
        background: #E2E8EC
        color: $primary
    &.verified
        background: $primary
        color: #E2E8EC
        .icon
            margin-left: .7rem

.filter__criteria
    // margin-bottom: 1.5rem
    z-index: 3
    position: relative
    .criteria
        margin-bottom: .7rem
        display: flex
        align-items: flex-start
        font-size: .9rem
        &__title
            display: inline-block
            white-space: nowrap
            padding: .2rem 0
            margin: .3rem 0
            margin-right: 1rem
        &__showcase
            display: flex
            align-items: center
            flex-wrap: wrap
            span
                display: flex
                align-items: center
                justify-content: center
                flex-wrap: wrap
                padding: .2rem .5rem
                border-radius: 8px
                margin: .3rem .5rem .3rem 0
                background: #E2E8EC
                color: $primary
                .close
                    margin: 0
                    cursor: pointer
                    padding: .2rem
                    margin-left: 1rem
                    .icon
                        color: red

.stars
    $percent: calc(var(--rating) / 5 * 100%)
    display: inline-block
    font-size: .9rem
    font-family: Times // make sure ★ appears correctly
    line-height: 1
    color: $primary
    margin-bottom: .7rem
    &::before
        content: '★★★★★'
        letter-spacing: 3px
        background: linear-gradient(90deg, $secondary calc( var(--rating) / 5 * 100% ), white calc( var(--rating) / 5 * 100% ))
        -webkit-background-clip: text
        -webkit-text-stroke-width: 1px
        -webkit-text-stroke-color: $secondary
        -webkit-text-fill-color: transparent
    &.bg__stars
        margin-bottom: 0
        transform: scale(1.2)
        &::before
            background: linear-gradient(90deg, $secondary calc( var(--rating) / 5 * 100% ), transparent calc( var(--rating) / 5 * 100% ))
            -webkit-background-clip: text
            -webkit-text-stroke-width: 1px
            -webkit-text-stroke-color: $secondary
            -webkit-text-fill-color: transparent

.loader
    width: 100%
    height: 100%
    display: block
    background: rgba(226, 232, 236, .5)
    animation: wave .1.2s ease-in 0s infinite both
    position: relative
    border-radius: 5px
    overflow: hidden
    &::before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        display: block
        background: #E2E8EC
        animation: wave 1.2s ease-in .4s infinite both

@keyframes wave
    0%
        transform: translateX(-100%)
    50%
        transform: translateX(0)
    100%
        transform: translateX(100%)

.template__layout
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
    grid-auto-flow: dense
    grid-column-gap: 3rem
    margin: 3rem 0
    &.full__width
        display: block
    .main__content
        grid-column: span 2

@media screen and ( max-width: 1230px )
    .template__layout
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))
        grid-column-gap: 0
        .sub__content
            margin-top: 3rem
            &.newslatter
                display: none
            .newslatter
                display: none
