@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')

// @font-face
//     font-family: 'Lato' sans-serif
//     src: local('Lato Regular'), local('Lato-Regular'), url('/Lato-Black.ttf') format('ttf')

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

@import "./_colors"
@import "./_variables"

input, textarea, button
    outline: none !important

h1
    font-size: clamp(1.4rem, 3vw, 2rem)

h2
    font-size: clamp(1.2rem, 3vw, 1.8rem)

.primary__header
    font-size: clamp(1.8rem, 4vw, 2.2rem)
    display: inline-block
    position: relative
    &::before
        content: ""
        position: absolute
        bottom: -7px
        height: 20px
        width: 100%
        background: linear-gradient(180deg, rgba(255, 176, 76, 0.34) 0%, #FFB04C 100%)

.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

button
    background: none
    box-shadow: none
    border: none

.btn
    padding: .7rem 3rem
    min-width: 150px
    cursor: pointer
    font-size: 1rem
    @include flexCenter
    &.btn-primary
        background: $secondary
        color: white
        box-shadow: 5px 4px 25px 5px rgba(0, 0, 0, 0.1)
        font-weight: 700
        transition: .2s
        &:hover
            box-shadow: none

.bg_input
    margin: 1.5rem 0 !important
    label
        color: white
        margin-bottom: .4rem !important
    input
        background: #E9F9FF !important
        padding: 0 .5rem
        color: black
        &:focus
            background: none !important
            border-bottom: 1px solid lightgray !important
            padding: 0
            color: #E2E8EC

.template__layout
    display: grid
    grid-template-columns: auto 350px
    grid-column-gap: 2rem
    margin: 2rem 0
