.template__layout
    .main__content
        h3.results__header
            margin: 2rem 0 1rem
    .more__link
        position: relative
        text-align: right
        margin: 2rem 0
        &.more__link__center
            text-align: center
