@import "../../styles/_variables"
@import "../../styles/_colorsVariables"

.job__card
    margin: 0 0 1rem
    padding: 1.8rem 1rem
    flex-wrap: wrap
    @include flexVary(flex-start, _ )
    p
        font-size: .9rem
        color: #5A5A5A
        margin-bottom: .7rem
        span
            color: $primary
    .logo__container
        min-width: 80px
        width: 90px
        height: 100%
        .logo
            height: 50px
            position: relative
    .time__details
        width: calc( 65% - 100px )
        min-width: 200px
        height: 100%
        padding: 0 .5rem
        border-right: 1px solid #BBBBBB
        h3
            color: $primary
            font-weight: normal
            font-size: clamp(1rem, 4vw, 1.1rem)
            width: 100%
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            margin-bottom: .3rem

    .job__descriptions
        width: 35%
        min-width: 200px
        padding: 0 .5rem
        .company__name
            margin-bottom: 1rem

@media screen and ( max-width: 767px )
    .job__card
        .time__details
            min-width: 200px
            height: 100%
            width: calc( 100% - 100px )
            padding: 0 .5rem 0 2rem
            border-right: none
        .job__descriptions
            margin-top: 1rem
            width: 100%
